@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.displayScreen {
    padding: 20px;
    height: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
    color: #000;
    text-align: center;
    .error {
        color: red;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    & h4 {
        line-height: 40px;
    }

    .title {
        line-height: 40px;
        margin: 20px 0px;
    }

    .components {
        /* height: 87%; */
        height: calc(1280px - 260px);
        width: 100%;
        display: grid;
        grid-template-areas:
            'box1 box2 box3 box3'
            'box4 box4 box3 box3'
            'box5 box5 box7 box7'
            'box5 box5 box7 box7'
            'box6 box6 box7 box7'
            'box6 box6 box7 box7'
        ;
        gap: 20px;
        /* background-color: white; */
        padding: 10px;
        font-family: 'Space Mono', monospace;


        & div {
            background-color: black;
        }

        .container1 {
            grid-area: box1;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            & p {
                position: absolute;
                font-size: 40px;
                color: white;
            }
        }

        .container2 {
            grid-area: box2;
            border-radius: 30px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            & p {
                position: absolute;
                font-size: 40px;
            }
        }

        .container3 {
            grid-area: box3;
            border-radius: 50%;
            background-color: #D71921;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .img {
                background-image: url(../assets/Weather.png);
                background-size: contain;
                position: absolute;
                top: 70px;
                height: 150px;
                width: 140px;
                background-repeat: no-repeat;
                display: flex;
            }

            .status {
                position: absolute;
                bottom: 70px;
                color: white;
                font-size: 30px;
            }
        }

        .container4 {
            grid-area: box4;
            border-radius: 110px;
            display: flex;
            align-items: center;
            justify-content: center;

            & p {
                position: absolute;
                font-size: 50px;
                color: white;
            }
        }

        .container5 {
            grid-area: box5;
            border-radius: 30px;
            background-image: url(../assets/img.png);
            background-size: cover;
            background-position: top;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            display: flex;
            border: 10px solid #fff;
            box-sizing: border-box;
        }

        .container6 {
            grid-area: box6;
            border-radius: 30px;
            background-color: #fff;
        }

        .container7 {
            grid-area: box7;
            border-radius: 30px;
            color: #fff;
            position: relative;

            .details {
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 30px;

                .faculties {
                    text-align: left;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & h4 {
                        font-family: ndot-47;
                    }

                    & p {
                        background-color: #fff;
                        color: #000;
                        width: fit-content;
                        padding: 1px 5px;
                    }
                }
            }
        }
    }

}