* {
  margin: 0%;
  padding: 0%;
}
html{
  /* transform: rotate(270deg); */
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  max-height: 1280px;
  min-width: 720px;
  max-width: 720px;
  min-height: 1280px;
  aspect-ratio: 16 / 9;
  margin: 0%;
  padding: 0%;
}